.gallery-container{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: 1fr;
    justify-content: space-between;
    background-color: var(--clr2);
}

/* .imgs-container :nth-child(1n){
    grid-column: 1;
}
.imgs-container :nth-child(2n){
    grid-column: 2;
}
.imgs-container :nth-child(3n){
    grid-column: 3;
} */