.search-bar{
    grid-column: 2;
padding: 2em 0 2em;
}

input[name='tags-search-input']{
    font-size: 3em;
    border: 0px;
    outline: none;

}

.search-icon{
    position: relative;
    right: 100px;
    opacity: 0.6;
}

